main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

/* Modify the backgorund color */
.navbar-custom {
    background-color: #FFFFFF;
}

div {
    margin-bottom: 15px;
}

.container-xl > * + * {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
}

.cases {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.mobileShow {
    display: none;
}

/* Smartphone Portrait and Landscape */
@media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px){ 
    .mobileShow {display: inline;}
}

.mobileHide { 
    display: inline;
}

/* Smartphone Portrait and Landscape */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px){
.mobileHide { display: none;}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .cases {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}