{% extends "layout.html" %}

{% block title %}
    Data Privacy
{% endblock %}

{% block main %}

<h1>Data protection statement</h1>
<p>The responsible party in terms of data protection laws, in particular the EU General Data Protection Regulation (DSGVO), is:</p>
<p>Thilo Schinke</p>

<h2>Your data subject rights</h2>.
<p>You can exercise the following rights at any time using the contact details provided for our data protection officer:</p>.
<ul>
    <li>Information about your data stored by us and its processing (Art. 15 DSGVO),</li>.
    <li>Correction of inaccurate personal data (Art. 16 DSGVO),</li>
    <li>Deletion of your data stored by us (Art. 17 DSGVO),</li>
    <li>Restriction of data processing, provided that we are not yet allowed to delete your data due to legal obligations (Art. 18 DSGVO),</li>.
    <li>Objection to the processing of your data by us (Art. 21 DSGVO) and</li>.
    <li>Data portability, provided that you have consented to the data processing or have concluded a contract with us (Art. 20 DSGVO).</li>
</ul>
<p>If you have given us consent, you can revoke it at any time with effect for the future.</p>.
<p>You may at any time lodge a complaint with a supervisory authority, e.g. the competent supervisory authority in the federal state of your residence or the authority responsible for us as the responsible body.</p>
<p>A list of supervisory authorities (for the non-public sector) with address can be found at: <a href="https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html" target="_blank" rel="noopener nofollow">https://www.bfdi.bund.de/DE/Service/Anschriften/Laender/Laender-node.html</a>.</p>
<p></p>

<h2>Collection of general information when you visit our website</h2>.
<h3>Type and purpose of processing:</h3>.
<p>When you access our website, i.e., when you do not register or otherwise submit information, information of a general nature is automatically collected. This information (server log files) includes, for example, the type of web browser, the operating system used, the domain name of your Internet service provider, your IP address and the like. </p>
<p>They are processed in particular for the following purposes:</p>.
<ul>
    <li>Ensuring a smooth connection setup of the website,</li>.
    <li>Ensuring a smooth use of our website,</li>.
    <li>Evaluating system security and stability, and</li>.
    <li>to optimize our website.</li>
</ul>
<p>We do not use your data to draw conclusions about your person. Information of this kind will be evaluated by us if necessary anonymized statistically to optimize our website and the technology behind it. </p>

<h3>Legal basis and legitimate interest:</h3>
<p>The processing is carried out in accordance with Art. 6 (1) lit. f DSGVO on the basis of our legitimate interest in improving the stability and functionality of our website.</p>

<h3>Receiver:</h3>
<p>Receivers of the data may be technical service providers who act as processors for the operation and maintenance of our website.</p>.

<p></p><h3>Duration of storage:</h3>
<p>The data is deleted as soon as it is no longer necessary for the purpose for which it was collected. This is generally the case for the data used to provide the website when the respective session has ended. </p>

<p></p><h3>Provision prescribed or required:</h3>
<p>The provision of the aforementioned personal data is neither legally nor contractually required. However, without the IP address, the service and functionality of our website is not guaranteed. In addition, individual services and services may not be available or may be limited. For this reason, an objection is excluded. </p>

<p></p><h2>Cookies</h2>.
<p>Like many other websites, we also use so-called "cookies". Cookies are small text files that are stored on your terminal device (laptop, tablet, smartphone or similar) when you visit our website. </p>
<p>You can delete individual cookies or the entire cookie inventory. In addition, you will receive information and instructions on how to delete these cookies or block their storage in advance. Depending on your browser provider, you can find the necessary information at the following links:</p>.
<ul>
    <li>Mozilla Firefox: <a href="https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen" target="_blank" rel="nofollow noopener">https://support.mozilla.org/de/kb/cookies-loeschen-daten-von-websites-entfernen</a></li>
    <li>Internet Explorer: <a href="https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank" rel="nofollow noopener">https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies</a></li>
    <li>Google Chrome: <a href="https://support.google.com/accounts/answer/61416?hl=de" target="_blank" rel="nofollow noopener">https://support.google.com/accounts/answer/61416?hl=de</a></li>
    <li>Opera: <a href="http://www.opera.com/de/help" target="_blank" rel="nofollow noopener">http://www.opera.com/de/help</a></li>
    <li>Safari: <a href="https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE" target="_blank" rel="nofollow noopener">https://support.apple.com/kb/PH17191?locale=de_DE&viewlocale=de_DE</a></li>
</ul>

<h3>Duration of storage and cookies used:</h3>
<p>To the extent that you allow us to use cookies through your browser settings or consent, the following cookies may be used on our websites:</p>

<p></p><h2>Technically necessary cookies</h2>.
<h3>Type and purpose of processing:</h3>.
<p>We use cookies to make our website more user-friendly. Some elements of our website require that the calling browser can be identified even after a page change.</p>.
<p>The purpose of using technically necessary cookies is to simplify the use of websites for users. Some functions of our website cannot be offered without the use of cookies. For these, it is necessary that the browser is recognized even after a page change.</p>.
<p>We require cookies for the following applications:</p>
<p>Takeover of language settings</p>.

<h3>Legal basis and legitimate interest:</h3>.
<p>The processing is carried out in accordance with Art. 6 para. 1 lit. f DSGVO on the basis of our legitimate interest in a user-friendly design of our website.</p>

<h3>Recipient:</h3>
<p>Receivers of the data may be technical service providers who act as processors for the operation and maintenance of our website.</p>.

<p></p><h3>Provision mandated or required:</h3>
<p>The provision of the aforementioned personal data is not required by law or contract. However, without this data, the service and functionality of our website is not guaranteed. In addition, individual services and services may not be available or may be limited.</p>.

<h3>Contradiction</h3>.
<p>Read more about this in the information on your right to object in accordance with Art. 21 DSGVO below.</p>

<p></p><h2>Registration on our website</h2>.
<h3>Type and purpose of processing:</h3>
<p>For registration on our website, we require some personal data, which is transmitted to us via an input mask. </p>
<p>At the time of registration, the following data are also collected:</p>.
<p></p><p>Your registration is required for the provision of certain content and services on our website.</p>

<h3>Legal basis:</h3>
<p>The processing of the data entered during registration is based on the user's consent (Art. 6 para. 1 lit. a DSGVO).</p>

<h3>Receiver:</h3>
<p>Receivers of the data may be technical service providers who act as processors for the operation and maintenance of our website.</p>.
<p></p><h3>Storage period:</h3>
<p>Data will only be processed in this context as long as the relevant consent has been obtained. </p>

<h3>Provision mandatory or required:</h3>
<p>The provision of your personal data is voluntary, based solely on your consent. Without the provision of your personal data, we can not grant you access to our offered content. </p>

<p></p><h2>Embedded YouTube videos</h2>.
<p>On our website, we embed YouTube videos. The operator of the corresponding plugins is YouTube, LLC, 901 Cherry Ave, San Bruno, CA 94066, USA (hereinafter "YouTube"). YouTube, LLC is a subsidiary of Google LLC, 1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA (hereinafter "Google"). When you visit a page with the YouTube plugin, a connection to YouTube servers is established. In the process, YouTube is informed which pages you are visiting. If you are logged into your YouTube account, YouTube can assign your surfing behavior to you personally. You can prevent this by logging out of your YouTube account beforehand. </p>
<p>When a YouTube video is started, the provider uses cookies that collect information about user behavior. </p>
<p>For more information on the purpose and scope of data collection and processing by YouTube, please refer to the provider's privacy policy, where you will also find further information on your rights in this regard and settings options for protecting your privacy (<a href="https://policies.google.com/privacy">https://policies.google.com/privacy</a>). </p>

<h3>Revocation of consent:</h3>.
<p>No option is currently offered by the provider for a simple opt-out or blocking of data transmission. If you wish to prevent tracking of your activities on our website, please revoke your consent for the relevant cookie category or all technically unnecessary cookies and data transfers in the Cookie Consent Tool. In this case, however, you may not be able to use our website or may only be able to use it to a limited extent.</p>.
<p></p><hr>

<h2>Information about your right to object according to Art. 21 DSGVO</h2>.
<h3>Single-case right of objection</h3>.
<p>You have the right to object at any time, on grounds relating to your particular situation, to the processing of personal data concerning you which is carried out on the basis of Article 6(1)(f) of the DSGVO (processing of data on the basis of a balance of interests); this also applies to profiling based on this provision within the meaning of Article 4(4) of the DSGVO.</p> <p>If you object to the processing of personal data concerning you, you have the right to object at any time on grounds relating to your particular situation; this also applies to profiling based on this provision within the meaning of Article 4(4) of the DSGVO.
<p>If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate grounds for the processing which override your interests, rights and freedoms, or the processing serves to assert, exercise or defend legal claims.</p>.

<h3>Recipient of an objection</h3>.
<p></p><hr>

<h2>Modification of our privacy policy</h2>.
<p>We reserve the right to adapt this privacy policy to ensure that it always complies with the current legal requirements or to implement changes to our services in the privacy policy, e.g. when introducing new services. The new privacy policy will then apply to your next visit.</p>.

<h2>Questions to the data protection officer</h2>.
<p>If you have any questions about data protection, please write us an e-mail or contact the person responsible for data protection in our organization directly:</p>
<p></p><p><em>This privacy statement was created with the help of activeMind AG, the experts in <a href="https://www.activemind.de/datenschutz/datenschutzbeauftragter/" target="_blank" rel="noopener">external data protection officers</a> (version #2020-09-30).</em></p>

{% endblock %}