{% extends "layout.html" %}

{% block header %}
    <!-- Use Chart.JS for Charts -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block title %}
    COVID Track
{% endblock %}

{% block main %}
    <h2>Track Corona Data for your destinations</h2>

    <form action="/" method="post">
        <!-- <input autocomplete="off" autofocus class="form-control" name="countries" placeholder="Countries" type="text" required> -->
        <select name="countries">
            <option disabled selected value="">Country</option>
            {% for c in countries %}
                <option value="{{ c }}">{{ c }}</option>"
            {% endfor %}
        </select>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    <p>Data shown for {{ country }}.</p>

    <!-- Show country specific stats -->
    <p>Cases Total: <b>{{ td_cases }}</b></p>
    <p>Tests Total: <b>{{ td_tests }}</b></p>
    <p>Deaths Total: <b>{{ td_deaths }}</b></p>
    <p>Trend:</p>

    <!-- show diagram using Chart.JS -->
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: "line",
            data: {
                labels: {{ labels | safe }},
                datasets: [
                    {
                        label: "Cases",
                        data: {{ valuesCases | safe }},
                        fill: false,
                        borderColor: "#457b9d",
                        lineTension: 0.1,
                        yAxisID: 'y',
                    },
                    {
                        label: "Deaths",
                        data: {{ valuesDeaths | safe }},
                        fill: false,
                        borderColor: "#e63946",
                        lineTension: 0.1,
                        yAxisID: 'y1',
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    x: {
                        ticks: {
                            autoSkip: true,
                            maxTicksLimit: 10
                        }
                    },
                    y1: {
                        type: 'linear',
                        display: true,
                        position: 'right',
                        title: {
                            display: true,
                            text: "# of deaths"
                        },
                    },
                    y: {
                        type: 'linear',
                        display: true,
                        positon: 'left',
                        title: {
                            display: true,
                            text: "# of cases"
                        }
                    }
                },
                plugins: {
                    title: {
                        display: true,
                        text: 'COVID-19 statistics for {{ country }}'
                    },
                    legend: {
                        display: true,
                        position: 'bottom'
                    }
                }
            }
        });
    </script>

{% endblock %}
